<div>
    <mat-toolbar>
        <mat-toolbar-row>
            <span>
                <a mat-button routerLink="">GoarServices</a>
            </span>            
            <button mat-button [matMenuTriggerFor]="menu">Servicios</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>uno</button>
                <button mat-menu-item>dos</button>
            </mat-menu>            
            <a mat-button routerLink="camaras">Camarás</a>
            <a mat-button routerLink="apps-web">AppsWeb</a>
            <a mat-button routerLink="internet">Internet</a>
            <a mat-button routerLink="informacion">Información</a>
        </mat-toolbar-row>
    </mat-toolbar>
</div>