<div>
    <mat-toolbar>
        <mat-toolbar-row class="verde">
            <span>
                <h1>
                    <a mat-button routerLink="carousel">GoarServices</a>
                </h1>                
            </span>
            <h2>
                <a mat-button routerLink="internet">Internet</a>                           
                <a mat-button routerLink="camaras">Camarás</a>
                <a mat-button routerLink="apps-web">AppsWeb</a>            
                <a mat-button routerLink="informacion">Información</a>
            </h2>            
        </mat-toolbar-row>
    </mat-toolbar>
</div>