/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.verde{
    color: #42e813;
}
.azul{
 color: #031e2b;
}
.diplay-block {
    position: fixed;
    bottom: 0px;
    display: block;
}